<p id="notice"><%= notice %></p>

<h1>Universities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="1"></th>
      <th>Country</th>
      <th colspan="1"></th>
      <th>Domains</th>
      <th colspan="1"></th>
      <th>Web Pages</th>
      <th colspan="1"></th>
      <th>Alpha two code</th>
      <th colspan="1"></th>
      <th>State province</th>
    </tr>
  </thead>

  <tbody>
    <% @universities.each do |university| %>
      <tr style="<%= 'background-color:grey;' if university.multiple_domains %>">
        <td><%= university.name %></td>
        <td>                         </td>
        <td><%= university.country %></td>
        <td>                         </td>
        <td><%= university.domains.join(', ') %></td>
        <td>                         </td>
        <td><%= university.web_pages.join(', ') %></td>
        <td>                         </td>
        <td><%= university.alpha_two_code %></td>
        <td>                         </td>
        <td><%= university.state_province %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New University', new_university_path %>
